<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"

                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"

                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Bus
    </ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h3>Bus Information</h3></div>
                    <h:form>
                    <div class="card-body template-demo">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="busNo">Bus Number</label>
                                <input type="text" class="form-control" id="busNo" jsf:value="#{busController.bus.busNumber}"/>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="driverName">Driver</label>
                                <input type="text" class="form-control" id="driverName" />
                            </div>
                        </div>
                    </div>
                     <div class="card-footer">
                         <h:commandButton  class="btn btn-primary btn-rounded mr-15" value="Save" action="#{busController.saveBus()}" />
                        <h:commandButton value="Clear" class="btn btn-secondary btn-rounded" />
                    </div>
                    </h:form>
                </div>
            </div>
            <div class="col-md-6">
                <p:dataTable>
                    <p:column headerText="Bus No">
                        
                    </p:column>
                    <p:column headerText="Driver">
                        
                    </p:column>
                    <p:column headerText="Action">
                        
                    </p:column>
                </p:dataTable>
            </div>
        </div>
    </ui:define>
</ui:composition>