<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"

                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"

                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Schedule
    </ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col-md-12">
                <p:dataTable>
                    <p:column headerText="Schedule Date">
                        
                    </p:column>
                    <p:column headerText="Schedule Time">
                        
                    </p:column>
                    <p:column headerText="Source">
                        
                    </p:column>
                    <p:column headerText="Destination">
                        
                    </p:column>
                    <p:column headerText="Fare">
                        
                    </p:column>
                    <p:column headerText="Bus on Schedule">
                        
                    </p:column>
                    <p:column headerText="Recurring">
                        
                    </p:column>
                    <p:column headerText="Action">
                        
                    </p:column>
                </p:dataTable>
            </div>
        </div>
    </ui:define>
</ui:composition>