<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"

                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"

                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Ticket
    </ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col-md-12">
                <p:dataTable>
                    <p:column headerText="Ticket Number">
                        
                    </p:column>
                    <p:column headerText="Customer Name">
                        
                    </p:column>
                    <p:column headerText="Schedule">
                        
                    </p:column>
                    <p:column headerText="Amount">
                        
                    </p:column>
                    <p:column headerText="Seat Number">
                        
                    </p:column>
                    <p:column headerText="Payment Status">
                        
                    </p:column>
                    <p:column headerText="Ticket Status">
                        
                    </p:column>
                    <p:column headerText="Action">
                        
                    </p:column>
                </p:dataTable>
            </div>
        </div>
    </ui:define>
</ui:composition>