<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>Login</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet"/>
        
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/fontawesome-free/css/all.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/ionicons/dist/css/ionicons.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/icon-kit/dist/css/iconkit.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/perfect-scrollbar/css/perfect-scrollbar.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/dist/css/theme.min.css"/>
        <script src="#{application.contextPath}/resources/src/js/vendor/modernizr-2.8.3.min.js"></script>
    </h:head>
    <h:body>
        <div class="auth-wrapper">
            <div class="container-fluid h-100">
                <div class="row flex-row h-100 bg-white">
                    <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                        <div class="lavalite-bg" style="background-image: url('resources/img/auth/login-bg.jpg')">
                            <div class="lavalite-overlay"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                        <div class="authentication-form mx-auto">
                            <div class="logo-centered">
                                <a href="#"><img src="#{application.contextPath}/resources/src/img/brand.svg" alt=""/></a>
                            </div>
                            <h3>Sign In to ThemeKit</h3>
                            <p>Happy to see you again!</p>
                            <h:form >
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email" required="" />
                                    <i class="ik ik-user"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" required="" />
                                    <i class="ik ik-lock"></i>
                                </div>
                                <div class="row">
                                    <div class="col text-left">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="item_checkbox" name="item_checkbox" value="option1"/>
                                            <span class="custom-control-label">&nbsp;Remember Me</span>
                                        </label>
                                    </div>
                                    <div class="col text-right">
                                        <a href="forgot-password.html">Forgot Password ?</a>
                                    </div>
                                </div>
                                <div class="sign-btn text-center">
                                    <button class="btn btn-theme" jsf:action="#{loginController.login()}">Sign In</button>
                                </div>
                            </h:form>
                            <div class="register">
                                <p>Don't have an account? <a href="register.html">Create an account</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/popper.js/dist/umd/popper.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/screenfull/dist/screenfull.js"></script>
        <script src="#{application.contextPath}/resources/dist/js/theme.js"></script>
    </h:body>
</html>

