<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"

                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"

                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Route
    </ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h3>Route Information</h3></div>
                    <div class="card-body template-demo">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="routeName">Route Name</label>
                                <input type="text" class="form-control" id="routeName" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="routeCode">Route Code</label>
                                <input type="text" class="form-control" id="routeCode" />
                            </div>
                        </div>
                    </div>
                     <div class="card-footer">
                        <h:commandButton class="btn btn-primary btn-rounded mr-15" value="Save" />
                        <h:commandButton value="Clear" class="btn btn-secondary btn-rounded" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p:dataTable>
                    <p:column headerText="Route Name">
                        
                    </p:column>
                    <p:column headerText="Route Code">
                        
                    </p:column>
                    <p:column headerText="Action">
                        
                    </p:column>
                </p:dataTable>
            </div>
        </div>
    </ui:define>
</ui:composition>