<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"

                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"

                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Schedule
    </ui:define>
    <ui:define name="content">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary" style="right: 20px;position: absolute; z-index: 1;top: 20px;" href="list_schedule.xhtml">List</a>
            </div>
            <div class="col-md-12">
                
                <div class="card">
                    <div class="card-header"><h3>Schedule Information</h3></div>
                    <div class="card-body template-demo">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="scheduleDate">Schedule Date</label>
                                <input type="text" class="form-control" id="scheduleDate" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="scheduleTime">Schedule Time</label>
                                <input type="text" class="form-control" id="scheduleTime" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="fromRoute">Source</label>
                                <input type="text" class="form-control" id="fromRoute" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="toRoute">Destination</label>
                                <input type="text" class="form-control" id="toRoute" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="fare">Fare</label>
                                <input type="text" class="form-control" id="fare" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="bus">Bus on Schedule</label>
                                <input type="text" class="form-control" id="bus" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="recurring">Recurring</label>
                                <input type="text" class="form-control" id="recurring" />
                            </div>
                        </div>
                    </div>
                     <div class="card-footer">
                        <h:commandButton  class="btn btn-primary btn-rounded mr-15" value="Save" />
                        <h:commandButton value="Clear" class="btn btn-secondary btn-rounded" />
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>