<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>Ticketing</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet"/>
        
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/fontawesome-free/css/all.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/icon-kit/dist/css/iconkit.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/ionicons/dist/css/ionicons.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/perfect-scrollbar/css/perfect-scrollbar.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/jvectormap/jquery-jvectormap.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/weather-icons/css/weather-icons.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/c3/c3.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/owl.carousel/dist/assets/owl.carousel.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/plugins/owl.carousel/dist/assets/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="#{application.contextPath}/resources/dist/css/theme.min.css"/>
        <script src="#{application.contextPath}/resources/src/js/vendor/modernizr-2.8.3.min.js"></script>
    </h:head>
    <h:body>
        <div class="wrapper">
            <header class="header-top" header-theme="light">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <div class="top-menu d-flex align-items-center">
                            <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                            <div class="header-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                                    <input type="text" class="form-control"/>
                                    <span class="input-group-addon search-btn"><i class="ik ik-search"></i></span>
                                </div>
                            </div>
                            <button type="button" id="navbar-fullscreen" class="nav-link"><i class="ik ik-maximize"></i></button>
                        </div>
                        <div class="top-menu d-flex align-items-center">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notiDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-bell"></i><span class="badge bg-danger">3</span></a>
                                <div class="dropdown-menu dropdown-menu-right notification-dropdown" aria-labelledby="notiDropdown">
                                    <h4 class="header">Notifications</h4>
                                    <div class="notifications-wrap">
                                        <a href="#" class="media">
                                            <span class="d-flex">
                                                <i class="ik ik-check"></i> 
                                            </span>
                                            <span class="media-body">
                                                <span class="heading-font-family media-heading">Invitation accepted</span> 
                                                <span class="media-content">Your have been Invited ...</span>
                                            </span>
                                        </a>
                                        <a href="#" class="media">
                                            <span class="d-flex">
                                                <img src="#{application.contextPath}/resources/img/users/1.jpg" class="rounded-circle" alt="" />
                                            </span>
                                            <span class="media-body">
                                                <span class="heading-font-family media-heading">Steve Smith</span> 
                                                <span class="media-content">I slowly updated projects</span>
                                            </span>
                                        </a>
                                        <a href="#" class="media">
                                            <span class="d-flex">
                                                <i class="ik ik-calendar"></i> 
                                            </span>
                                            <span class="media-body">
                                                <span class="heading-font-family media-heading">To Do</span> 
                                                <span class="media-content">Meeting with Nathan on Friday 8 AM ...</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="footer"><a href="javascript:void(0);">See all activity</a></div>
                                </div>
                            </div>
                            <button type="button" class="nav-link ml-10 right-sidebar-toggle"><i class="ik ik-message-square"></i><span class="badge bg-success">3</span></button>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-plus"></i></a>
                                <div class="dropdown-menu dropdown-menu-right menu-grid" aria-labelledby="menuDropdown">
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Dashboard"><i class="ik ik-bar-chart-2"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Message"><i class="ik ik-mail"></i></a>
                                   
                                </div>
                            </div>
                            <button type="button" class="nav-link ml-10" id="apps_modal_btn" data-toggle="modal" data-target="#appsModal"><i class="ik ik-grid"></i></button>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="avatar" src="img/user.jpg" alt=""/></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="profile.html"><i class="ik ik-user dropdown-icon"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="ik ik-settings dropdown-icon"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="ik ik-mail dropdown-icon"></i> Inbox</a>
                                    <a class="dropdown-item" href="#"><i class="ik ik-navigation dropdown-icon"></i> Message</a>
                                    <a class="dropdown-item" href="login.html"><i class="ik ik-power dropdown-icon"></i> Logout</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
            
            <!--Body-->
            
            <div class="page-wrap">
                <div class="app-sidebar colored">
                    <div class="sidebar-header">
                        <a class="header-brand" href="#">
                            <div class="logo-img">
                               <img src="#{application.contextPath}/resources/src/img/brand-white.svg" class="header-brand-img" alt="lavalite" /> 
                            </div>
                            <span class="text">ThemeKit</span>
                        </a>
                        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                    </div>
                    
                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                <div class="nav-lavel">Navigation</div>
                                <div class="nav-item active">
                                    <a href="#"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="#{application.contextPath}/bus.xhtml"><i class="ik ik-bar-chart-2"></i><span>Bus</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="#{application.contextPath}/route.xhtml"><i class="ik ik-bar-chart-2"></i><span>Route</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="#{application.contextPath}/schedule.xhtml"><i class="ik ik-bar-chart-2"></i><span>Schedule</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="#{application.contextPath}/ticket.xhtml"><i class="ik ik-bar-chart-2"></i><span>Ticket</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="#{application.contextPath}/luggage.xhtml"><i class="ik ik-bar-chart-2"></i><span>Luggage</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="#{application.contextPath}/luggage_setting.xhtml"><i class="ik ik-bar-chart-2"></i><span>Luggage Setting</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="#{application.contextPath}/fare.xhtml"><i class="ik ik-bar-chart-2"></i><span>Fare</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="#{application.contextPath}/journey.xhtml"><i class="ik ik-bar-chart-2"></i><span>Journey</span></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                 
                <div class="main-content">
                    <div class="container-fluid">
                       <ui:insert name = "content" ></ui:insert>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/popper.js/dist/umd/popper.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/screenfull/dist/screenfull.js"></script>
        <script src="#{application.contextPath}/resources/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/jvectormap/jquery-jvectormap.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>
        <script src="#{application.contextPath}/resources/plugins/moment/moment.js"></script>
        <script src="#{application.contextPath}/resources/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/d3/dist/d3.min.js"></script>
        <script src="#{application.contextPath}/resources/plugins/c3/c3.min.js"></script>
        <script src="#{application.contextPath}/resources/js/tables.js"></script>
        <script src="#{application.contextPath}/resources/js/widgets.js"></script>
        <script src="#{application.contextPath}/resources/js/charts.js"></script>
        <script src="#{application.contextPath}/resources/dist/js/theme.min.js"></script>
    </h:body>
</html>

