<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"

                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"

                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        Ticket
    </ui:define>
    <ui:define name="content">
        <div class="row">
             <div class="col-md-12">
                <a class="btn btn-primary" style="right: 20px;position: absolute; z-index: 1;top: 20px;" href="list_ticket.xhtml">List</a>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h3>Ticket Information</h3></div>
                    <div class="card-body template-demo">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="customerName">Customer Name</label>
                                <input type="text" class="form-control" id="customerName" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="schedule">Schedule</label>
                                <input type="text" class="form-control" id="schedule" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="ticketDate">Ticket Date</label>
                                <input type="text" class="form-control" id="ticketDate" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="ticketNo">Ticket Number</label>
                                <input type="text" class="form-control" id="ticketNo" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="amount">Amount</label>
                                <input type="text" class="form-control" id="amount" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="seatNo">Seat Number</label>
                                <input type="text" class="form-control" id="seatNo" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="paymentStatus">Payment Status</label>
                                <input type="text" class="form-control" id="paymentStatus" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="ticketStatus">Ticket Status</label>
                                <input type="text" class="form-control" id="ticketStatus" />
                            </div>
                        </div>
                    </div>
                     <div class="card-footer">
                        <h:commandButton  class="btn btn-primary btn-rounded mr-15" value="Save" />
                        <h:commandButton value="Clear" class="btn btn-secondary btn-rounded" />
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
</ui:composition>